<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>repl.it</title>
    <link href="../static/login_common.css" rel="stylesheet" type="text/css" />

  </head>
  <link href="../static/login.css" rel="stylesheet" type="text/css" /> <body>
    <div class="main-container">
      <header class="logo">
        <div>
          <img class="logoPicture" src="static/img/logo_text.png" alt="인스타 로고" />
        </div>
      </header>
      <contant class="login-container">
        <input
          type="id"
          class="id"
          placeholder="전화번호,사용자 이름 또는 이메일"
        />
        <input type="password" class="password" placeholder="비밀번호" />
        <button class="loginBtn">로그인</button>
      </contant>
      <footer>
          <a href="#" tabindex="0">비밀번호를 잊으셨나요 ?</a>
      </footer>
    </div>
    <div class="join-container">
          <p class="join">계정이 없으신가요?
           <a href="/signup" tabindex="0">
                <span onclick = >가입하기</span>
            </a>
          </p>
    </div>
    <script src="login.js"></script>
  </body>
</html>