<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script defer src="../static/main.js"></script>
    <link href="../static/main.css" rel="stylesheet" type="text/css" />

    <title>MAIN</title>

<script>




</script>

</head>
<body>
    <div id="main">
        <div id="header">
            <img id="logo" src="static/img/insta-logo.png" />
            <button  class="logout" onclick="logout()">로그아웃</button>


        </div>
        <div id="container">
            <div id="story-container">
                <div class="story-wrapper">
                    <div class="story-off">
                        <a href="/upload" tabindex = "0">
                        <img src="static/img/trending@3x.png"/>
                        </a>
                    </div>
                    <p>추가하기</p>
                </div>

                <div class="story-wrapper">
                    <a href="/profile" tabindex="0">
                <span onclick = >내 프로필</span>
            </a>
                </div>

            </div>
            {% for element in img %}
            <div id="post-container">
                <div class="post-wrapper">
                    <div class="post-header">
                        <div class="story-off">
                           <p><strong>{{element.writer}}</strong>님의
                        </div>
                         <div class="story-off">
                           <p><strong>{{element.title}}</strong>
                        </div>
                    </div>
                    <div class="post-body">
                         <img src= "data:image/png;base64,{{element.image}}"/>
                    </div>
                </div>
                    <p class = "description">
                        Description : {{element.description}}
                    </p>

            </div>
              {%endfor%}
        </div>

    </div>
</body>
</html>