<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script defer src="../static/signup.js"></script>
    <link href="../static/signup.css" rel="stylesheet" type="text/css"/>
    <title>회원가입</title>
    <!--    <link href="signup_common.css" rel="stylesheet" type="text/css" />-->

</head>
<body>
<div class="main-container">
    <header class="logo">
        <div>
            <img class="logoPicture" src="../static/img/logo_text.png" alt="인스타 로고"/>
        </div>
    </header>
    <div class="login-container">
        <input type="text"  id="userid" placeholder="휴대폰 번호 또는 이메일 주소"/>
        <input type="text"  id="fullname" placeholder="성명"/>
        <input type="text"  id="username" placeholder="사용자 이름"/>
        <input type="text"  id="userpw" placeholder="비밀번호"/>
        <button class="loginBtn" onclick="register()">가입</button>
    </div>
<!--    <footer>-->
<!--        <a href="#" tabindex="0">비밀번호를 잊으셨나요 ?</a>-->
<!--    </footer>-->
</div>
<div class="join-container">
    <p class="join">계정이 있으신가요?
        <a>
            <span onclick="login_page()">로그인</span>
        </a>
    </p>
</div>
</body>
</html>